# Exclude claude.md
claude.md

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# data / large files
*.csv
data/
raw/
processed/
.claude/

